/*
** The CSS File for the Badges Plugin by NoahY.
** This file by Brett Michael Orr.
**
*/

.notify-container {
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 10000;
}
.badge-container-badge {
	white-space: nowrap;
}
.badge-notify {
	background-color: #F6DF30;
	color: #444444;
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	padding: 10px 0;
	position:relative;
}
.notify-close {
	color: #735005;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
	padding: 0 3px;
	position: absolute;
	right: 8px;
	text-decoration: none;
	top: 8px;
}				
#badge-form td {
	vertical-align:top;
}
.badge-bronze,.badge-silver, .badge-gold {
	margin-right:4px;
	color: #000;
	font-weight:bold;
	text-align:center;
	border-radius:4px;
	width:140px;
	padding: 5px 10px;
	display: inline-block;
}
.badge-bronze {
	background-color: #CB9114;

	background-image: -webkit-linear-gradient(left center , #CB9114, #EDB336, #CB9114, #A97002, #CB9114); 
	background-image:    -moz-linear-gradient(left center , #CB9114, #EDB336, #CB9114, #A97002, #CB9114);
	background-image:     -ms-linear-gradient(left center , #CB9114, #EDB336, #CB9114, #A97002, #CB9114); 
	background-image:      -o-linear-gradient(left center , #CB9114, #EDB336, #CB9114, #A97002, #CB9114); 
	background-image:         linear-gradient(left center , #CB9114, #EDB336, #CB9114, #A97002, #CB9114); /* standard, but currently unimplemented */

	border:2px solid #6C582C;
}				
.badge-silver {
	background-color: #CDCDCD;
	background-image: -webkit-linear-gradient(left center , #CDCDCD, #EFEFEF, #CDCDCD, #ABABAB, #CDCDCD); 
	background-image:    -moz-linear-gradient(left center , #CDCDCD, #EFEFEF, #CDCDCD, #ABABAB, #CDCDCD); 
	background-image:     -ms-linear-gradient(left center , #CDCDCD, #EFEFEF, #CDCDCD, #ABABAB, #CDCDCD); 
	background-image:      -o-linear-gradient(left center , #CDCDCD, #EFEFEF, #CDCDCD, #ABABAB, #CDCDCD); 
	background-image:         linear-gradient(left center , #CDCDCD, #EFEFEF, #CDCDCD, #ABABAB, #CDCDCD); /* standard, but currently unimplemented */
	border:2px solid #737373;
}				
.badge-gold {
	background-color: #EEDD0F;
	background-image: -webkit-linear-gradient(left center , #EEDD0F, #FFFF2F, #EEDD0F, #CCBB0D, #EEDD0F); 
	background-image:    -moz-linear-gradient(left center , #EEDD0F, #FFFF2F, #EEDD0F, #CCBB0D, #EEDD0F); 
	background-image:     -ms-linear-gradient(left center , #EEDD0F, #FFFF2F, #EEDD0F, #CCBB0D, #EEDD0F); 
	background-image:      -o-linear-gradient(left center , #EEDD0F, #FFFF2F, #EEDD0F, #CCBB0D, #EEDD0F); 
	background-image:         linear-gradient(left center , #EEDD0F, #FFFF2F, #EEDD0F, #CCBB0D, #EEDD0F); /* standard, but currently unimplemented */
	border:2px solid #7E7B2A;
}				
.badge-bronze-medal, .badge-silver-medal, .badge-gold-medal  {
	font-size: 10pt;
	font-family:sans-serif;
}
.badge-bronze-medal {
	color: #CB9114;
}				
.badge-silver-medal {
	color: #CDCDCD;
}				
.badge-gold-medal {
	color: #EEDD0F;
}
.badge-pointer {
	cursor:pointer;
}				
.badge-desc {
	padding-left:8px;
}			
.badge-count {
	font-weight:bold;
}			
.badge-count-link {
	cursor:pointer;
	color:#992828;
}			
.badge-source {
	text-align:center;
	padding:0;
}
.badge-widget-entry {
	white-space:nowrap;
}

#tabs a{
        font-size: 10pt;
    }
    
#tabs .badge-entry-badge{
    margin: 5px 0 5px 0;
    font-size: 10pt !important;
}
    
#tabs .badge-entry-desc{
        font-size: 9pt;
    }

.qa-part-form-badges-list{
    width: 67% !important;
}
.qa-part-form-badges-list span{
        font-size: 10pt !important;
    }

#badge-medals-widget{
    margin-left: 6px !important;
}